
.about {
    position: relative;
    z-index: 50;
}

.about div {
    text-align: center;

}

.about p {
    padding: 0 10px;
 

    @include devices(laptop) {
        @include fontSize(30)
    }
}

.image-container {
    padding-top: 120px;

    @include devices(largeDesktop){
        padding-top: 250px;
    }
}
.profileImg {
    width: 200px;
    height: 200px;
    border-radius: 100%;

    @include devices(tablet) {
        width: 250px;
        height: 250px;
    }

    @include devices(laptop) {
        width: 350px;
        height: 350px;
    }

}

@include devices(laptop){
    .text-container {
        padding: 0 10%;
    }
 

}



.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}