

// ABOUT ME

// .reveal {
//     position: relative;
//     transform: translateY(150px);
//     opacity: 0;
//     transition: 2s all ease;
// }

// .active {
//     transform: translateY(0);
//     opacity: 1;
// }

.about div {
    text-align: center;
}

.about p {
    padding: 0 10px;

    @include devices(laptop) {
        @include fontSize(30)
    }
}

.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 100%;

    @include devices(tablet) {
        width: 250px;
        height: 250px;
    }

}

@include devices(laptop){
    .text-container {
        padding: 0 10%;
    }
 

}




