
.about {
    position: relative;
    z-index: 50;
}

.about div {
    text-align: center;

}

.about p {
    padding: 0 10px;
 

    @include devices(laptop) {
        @include fontSize(30)
    }
}

.image-container {
    padding-top: 120px;

    @include devices(largeDesktop){
        padding-top: 330px;
    }
}
.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 100%;

    @include devices(tablet) {
        width: 250px;
        height: 250px;
    }

}

@include devices(laptop){
    .text-container {
        padding: 0 10%;
    }
 

}



