header {
    background-image: url(/assets/layered-waves-haikei.svg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}


.wave {
    background-image: url(/assets/wave.png);
    min-height: 250px;
    width: 100%;
    background-size: 1000px 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 40%;
    animation: animate 20s  infinite;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

.wave1 {
    background-image: url(/assets/wave.png);
    // transform: rotateY(180deg);
    min-height: 230px;
    width: 100%;
    background-size: 1000px 230px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 30%;
    animation: animate1 20s infinite;
}

@keyframes animate1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

// main {
//     background-image: url(/assets/website-blue.png);
//     background-size: cover;
//     background-size: 60%;
//     background-repeat: no-repeat;

//     @include devices(laptop){
//         background-size: 32%;
//     }
// }

// .projects {
//     background-image: url(/assets/website-yellow.png);
//     background-size: cover;
//     background-size: 85%;
//     background-repeat: no-repeat;
//     background-position-x: right;

//     @include devices(laptop){
//         background-size: 40%;
//         // background-position-x: right;
        
//     }
// }


.pinkWaves {
    background-image: url(/assets/main-pink-waves.svg);
    background-size: cover;
    width: 100%;
    min-height: 900px;
    background-repeat: no-repeat;
    overflow-x: hidden;

    @include devices (laptop){
        min-height: 1000px;
    }

    @include devices (largeDesktop){
        min-height: 1200px;
    }
}

body {
    background-image: url(/assets/bottom-wave.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}