// CONTACTS

.contacts {
    text-align: center;
    padding: 180px 0 100px 0;
}

.contacts ul {
    display: flex;
    justify-content: space-evenly;
}

.contacts p {
    margin: 40px 0;
}

.social {
    
    @include devices(desktop) {
        @include fontSize(80)
    }
}

.contacts a {
    background-color: transparent;
}

.contacts a:hover {
    border: none;
}

.contacts a.emailBtn {
    background-color: $secondary;
}

