
span {
    display: block;
    color: $primary;
    margin-top: 15px;
    font-family: $baseFont;
    @include fontSize(35);
    text-align: center;

    @include devices(laptop) {
        @include fontSize(45)
    }
}

h1 {
    text-align: center;
    padding-top: 220px;
    font-weight: 700;
    color: $tertiary;
    -webkit-text-stroke: 0.1vw $primary;
    text-shadow: -5px -5px 0px $primary,
                -8px -8px 0px #C3D6F5,
                -11px -11px 0px #E4DEFC,
                -14px -14px 0px #FFE7FD;;
    @include fontSize(85);

    @include devices(tablet) {
        padding-top: 330px;
    }

    @include devices(laptop) {
        @include fontSize(130);
        padding-top: 380px;
    }
    
}



// .textWave {
//     padding: 0;
//     margin: 0;
//     transform: translate(0, -100%);
//     color: $primary;
//     animation: textWave 10s ease-in-out infinite;
// }

// @keyframes textWave {
//     0%,100% {
//         clip-path: polygon(0 26%, 16% 24%, 29% 29%, 45% 42%, 61% 55%, 76% 57%, 85% 55%, 100% 45%, 100% 100%, 0% 100%);
//     }

//     50% {
//         clip-path: polygon(0 42%, 14% 55%, 28% 59%, 47% 58%, 63% 49%, 69% 28%, 84% 19%, 100% 22%, 100% 100%, 0% 100%);
//     }
// }

.words {
    border: 0px solid #fff;
    height: 35px;
    overflow: hidden;

    @include devices(laptop) {
        height: 44px;
    }
}

.words span {
    margin-top: 0;
    padding: 2px 0;
    animation: rotate_words 10s ease-in-out infinite;
    position: relative;
    
}


@keyframes rotate_words{
    0% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -35px;
    }
    40% {
        top: -35px;
    }
    45% {
        top: -75px;
    }
    55% {
        top: -75px;
    }
    60% {
        top: -110px;
    }
    75% {
        top: -110px;
    }
    80%{
        top: -144px;
    }
    95% {
        top:-144px;
    }

    100% {
        top: 0;

    }
    
}

@include devices(laptop) {
    @keyframes rotate_words{
    0% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    40% {
        top: -50px;
    }
    45% {
        top: -92px;
    }
    55% {
        top: -92px;
    }
    60% {
        top: -136px;
    }
    75% {
        top: -136px;
    }
    80%{
        top: -190px;
    }
    95% {
        top:-190px;
    }

    100% {
        top: 0;

    }
    
}
}

// .headerSpan {
//     margin: 15px 0;
// }