

header {
    background-image: url(/assets/susan-wilkinson-K9scvXSS4z4-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}



span {
    display: block;
    color: $primary;
    margin-top: 15px;
    font-family: $baseFont;
    @include fontSize(35);
}

h1 {
    text-align: center;
    padding-top: 300px;
    color: $tertiary;
    @include fontSize(85);
    
}


