
main {
    background-image: url(/assets/website-blue.png);
    background-size: cover;
    background-size: 60%;
    background-repeat: no-repeat;   
}

.projects {
    background-image: url(/assets/website-yellow.png);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

body {
    background-image: url(/assets/landingpage-bottom.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

// ABOUT ME

.about div {
    text-align: center;
    padding-top: 60px;

}

.about p {
    padding: 0 10px;
}

.profileImg {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin-bottom: 10px;
}

// SKILLS

.skills {
    text-align: center;
    position: relative;
}

.skills h2 {
    color: $primary;
    margin-top: 80px;
}

.skillsList {
    display: flex;
    justify-content: center;
}

.skillsList ul {
    display: flex;
    flex-wrap: wrap;
    width: calc((100%/1.5));
    justify-content: center;
}

.skillsList li {
    margin: 20px 15px;
}


.fa-brands,
.fa-solid {
    font-size: 50px;
    color: $primary;
}

// PROJECTS

video {
    width: 250px;
    height: 250px;
}

.projects h2{
    text-align: center;
}

.projectList a,
.contacts a {
    background-color: $secondary;
    padding: 5px;
    border-radius: 5px;
    
}

.projectList ul {
    text-align: center;
}

.projectList li {
    margin: 50px 0;
}

.projectList p {
    margin-bottom: 30px;
    padding: 0 10px;
}

.projectList h4 {
    margin: 10px 0;
}

// CONTACTS

.contacts {
    text-align: center;
}
.contacts ul {
    display: flex;
    justify-content: space-evenly;
}
.contacts p {
    margin: 20px 0;
}
