// ABOUT ME
.about {
    // background-image: url(/assets/aboutMe.png);
    height: 300px;
    
   
   
}

.about div {
    text-align: center;
    padding-top: 60px;

}

.about p {
    padding: 0 10px;
}

.profileImg {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin-bottom: 10px;
}

// SKILLS

.skills {
    text-align: center;
    position: relative;
}

.skills h2 {
    color: $primary;
}

.skillsList {
    display: flex;
    justify-content: center;
}

.skillsList ul {
    display: flex;
    flex-wrap: wrap;
    width: calc((100%/1.5));
    justify-content: center;
}

.skillsList li {
    margin: 20px 15px;
}


.fa-brands {
    font-size: 50px;
    color: $primary;
}

// PROJECTS


video {
    width: 250px;
    height: 250px;
}

.projectList a {
    background-color: $primary;
    padding: 5px;
}