
.hamburger {
    position: fixed;
    display:block;
    right: 45px;
    top: 30px;
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 210;

}

.hamburger .bar,
.hamburger:before,
.hamburger:after {
    content: '';
    height: 4px;
    margin: 6px 0px;
    display: block;
    background-color: $primary;
    transition: 0.4s;
}


.hamburger.active:before {
    width:60%;
    transform: rotate(-45deg) translate(-4px, 16px);
    background-color: $tertiary;
}

.hamburger.active:after {
    width: 60%;
    transform: rotate(45deg) translate(-6px, -2px);
    background-color: $tertiary;
}

.hamburger.active .bar {
    opacity: 0;
    background-color: $tertiary;
}


.hamburger.inactive:before {
    width: 100%;
    transform: rotate(0) translate(0, 0);
    
}

.hamburger.inactive:after {
    width: 100%;
    transform: rotate(0) translate(0, 0);
    
}

.hamburger.inactive .bar {
    opacity: 100;
}

.mobileNav {
    background-color: $secondary;
    min-height: 50vh;
    border-radius: 8px;
    width: 100%;
    position: fixed;
    top:0;
    left:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
    transition: 0.4s;    
}

.navOpen {
    left: 0;
    
}


.mobileNav a:nth-child(2) {
    margin: 60px ;
}

// .mobileNav a {
//     color: $tertiary;
// }

.regularNav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    visibility: hidden;
    position: relative;
    z-index: 50;
    transition: transform 1s ease-out;

    @include devices(laptop){
        visibility: visible;
    }

    @include devices(desktop){
        visibility: visible;
    }
}


.hamburger,
.mobileNav {

    @include devices(laptop){
        visibility: hidden;
    }

    @include devices(desktop){
        visibility: hidden;
    }
}