.hamburger {
    position: absolute;
    display:block;
    right: 45px;
    top: 30px;
    width: 40px;
    cursor: pointer;
    background-color: $secondary;
    border: none;
    border-radius: 45%;
    z-index: 100;

}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: $tertiary;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 30%;
    margin-left: 3px;
    
}

.hamburger.active:before {
    width:60%;
    transform: rotate(-45deg) translate(-4px, 16px);
}

.hamburger.active:after {
    width: 60%;
    transform: rotate(45deg) translate(-6px, -2px);
}

.hamburger.active .bar {
    opacity: 0;
}

.mobileNav {
    background-color: $secondary;
    min-height: 50vh;
    border-radius: 8px;
    width: 100%;
    position: fixed;
    top:0;
    left:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 50;
    transition: 0.4s;

    
}

.navOpen {
    left: 0;
}


.mobileNav a:nth-child(2) {
    margin: 60px ;
}

.mobileNav a {
    color: $tertiary;
}

.regularNav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    visibility: hidden;
    position: relative;
    z-index: 50;

    @include devices(laptop){
        visibility: visible;
    }

    @include devices(desktop){
        visibility: visible;
    }
}


.hamburger,
.mobileNav {

    @include devices(laptop){
        visibility: hidden;
    }

    @include devices(desktop){
        visibility: hidden;
    }
}