
// .navBar {
//     background-image: url(/assets/navBar.png);
//     height: 20vh;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }

.navBar {
    background-color: $secondary;
    height: 80px;
    width: 100%;
}



.hamburger {
    position: absolute;
    display:block;
    right: 45px;
    top: 30px;
    width: 40px;
    cursor: pointer;
    background-color: $primary;
    border: none;
    border-radius: 45%;
    z-index: 30;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: $baseColor;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 30%;
    margin-left: 3px;
    
}

.hamburger.active:before {
    width:60%;
    transform: rotate(-45deg) translate(-4px, 16px);
}

.hamburger.active:after {
    width: 60%;
    transform: rotate(45deg) translate(-6px, -2px);
}

.hamburger.active .bar {
    opacity: 0;
}

.mobileNav {
    background-color: $primary;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    transition: 0.4s;
}

.navOpen {
    left: 0;
}


.mobileNav a:nth-child(2) {
    margin: 60px ;
}