// PROJECTS

video {
    width: 250px;
    height: 250px;
    border-radius: 30px;

    @include devices(laptop){
        width: 250px;
        height: 250px;
    }

    @include devices (desktop) {
        width: 450px;
        height: 450px;
    }

    @include devices (largeDesktop) {
        width: 530px;
        height: 530px;
    }
}

.projects h2,
.designs h2 {
    text-align: center;
    margin: 30px 0 60px 0;
}

.projectList a,
.contacts a,
.designList a {
    background-color: $secondary;
    padding: 8px;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.3s;

    @include devices (tablet) {
        padding: 10px 15px;
    }

}

.projectList a:hover,
.contacts a.emailBtn:hover,
.designList a:hover {
    background-color: $tertiary;
    color: $secondary;
    border: $quaternary solid;

}


.projectList ul, 
.designList ul {
    text-align: center;

    @include devices (laptop) {
        display: flex;
        flex-wrap: wrap;
    }

    @include devices (desktop) {
        flex-wrap: nowrap;
        flex-direction: column;
    }

}

.projectItems, .designItems {
    margin: 50px 0;

    @include devices (laptop) {
        width: calc((100%/2) - 20px);
    }

    @include devices (desktop) {
        width: 100%;
        display: flex;
        margin: 0;
    }
}

.projectItems:nth-child(even),
.designItems:nth-child(odd){

    @include devices (desktop) {
        flex-direction: row-reverse;
    }

}

.projectList p, 
.designList p {
    margin-bottom: 30px;
    padding: 0 10px;
}

.projectList h4,
.design h4 {
    margin: 10px 0;
}


.listContainer {

    @include devices (desktop) {
        margin: 100px 50px;
    }

    @include devices (largeDesktop) {
        margin-top: 150px;
    }
}

.projects, .designs {
    position: relative;
    z-index: 50;
}

.modal {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
     
}

.modalContent{
    // background-color: rgba(0, 0, 0, 0.5);
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
}

#modalVideo {
    border-radius: 30px;
    background-color: white;

}


