// PROJECTS

video {
    width: 250px;
    height: 250px;
    border-radius: 30px;

    @include devices(laptop){
        width: 250px;
        height: 250px;
    }
}

.projects h2 {
    text-align: center;
}

.projectList a,
.contacts a {
    background-color: $secondary;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;

    @include devices (tablet) {
        padding: 10px 15px;
    }

}

.projectList a:hover,
.contacts a:hover {
    background-color: $tertiary;
    color: $secondary;
    border: 2px pink solid;
}


.projectList ul {
    text-align: center;

    @include devices (laptop) {
        display: flex;
        flex-wrap: nowrap;
    }

}

.projectList li {
    margin: 50px 0;

    @include devices (laptop) {
        width: calc((100%/2) - 20px);
    }
}

.projectList p {
    margin-bottom: 30px;
    padding: 0 10px;
}

.projectList h4 {
    margin: 10px 0;
}