// PROJECTS

video {
    width: 250px;
    height: 250px;
    border-radius: 30px;

    @include devices(laptop){
        width: 250px;
        height: 250px;
    }

    @include devices (desktop) {
        width: 450px;
        height: 450px;
    }

    @include devices (largeDesktop) {
        width: 530px;
        height: 530px;
    }
}

.projects h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.projectList a,
.contacts a {
    background-color: $secondary;
    padding: 8px;
    border-radius: 5px;
    margin: 0 5px;

    @include devices (tablet) {
        padding: 10px 15px;
    }

}

.projectList a:hover,
.contacts a.emailBtn:hover {
    background-color: $tertiary;
    color: $secondary;
    border: 2px $quaternary solid;
}


.projectList ul {
    text-align: center;

    @include devices (laptop) {
        display: flex;
        flex-wrap: wrap;
    }

    @include devices (desktop) {
        flex-wrap: nowrap;
        flex-direction: column;
    }

}

.projectItems {
    margin: 50px 0;

    @include devices (laptop) {
        width: calc((100%/2) - 20px);
    }

    @include devices (desktop) {
        width: 100%;
        display: flex;
        margin: 0;
    }
}

.projectItems:nth-child(2),
.projectItems:last-child {

    @include devices (desktop) {
        flex-direction: row-reverse;
    }

}

.projectList p {
    margin-bottom: 30px;
    padding: 0 10px;
}

.projectList h4 {
    margin: 10px 0;
}


.listContainer {

    @include devices (desktop) {
        padding: 0 100px;
        margin-top: 100px;
    }

    @include devices (largeDesktop) {
        margin-top: 150px;
    }
}

.projects {
    position: relative;
    z-index: 50;
}