// SKILLS

.skills {
    text-align: center;
    position: relative;
    padding-bottom: 80px;
    z-index: 50;

}

.skills h2 {
    position: relative;
    z-index: 50;
    margin-top: 0;
    @include devices(laptop){
        margin-bottom: 0;
        
    }
}

.skillsList {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 50;
}

.skillsList ul {
    display: flex;
    flex-wrap: wrap;
    width: calc((100%/1.3));
    justify-content: center;

    @include devices(laptop) {
        justify-content: space-evenly;
        width: calc((100%/1.2));
    }

    @include devices(desktop) {
        width: 100%;
    }
}

.skillsList li {
    margin: 20px 15px;
}

.devicon {
    display: flex;
    flex-direction: column;
}

.fa-brands,
.fa-solid,
.devicon {
    @include fontSize(65);
    color: $primary;
    margin: 10px 0;

    @include devices(tablet) {
        @include fontSize(80);
    }

    @include devices(laptop) {
        @include fontSize(100);
    }

    @include devices(desktop) {
        
        @include fontSize(150);
    }
}