.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}


body {
    background-color: $tertiary;
    overflow-x: hidden;
}

.backgroundImg {
    background-size: contain;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    padding-left: 0;
}


@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}