h1,
h2,
h3,
h4,
p {
    font-family: $baseFont;
    margin: 0;
    font-weight: 400;
    color: $primary;
}

h2,
h3,
a {
    text-transform: uppercase;
}


h2 {
    @include fontSize(30)
}

h4 {
    font-family:  $secondaryFont;
    font-weight: 400;
    margin: 0;
    @include fontSize(18);
}

a {
    @include fontSize(35);
    text-decoration: none;
    color: $primary;
}

p {
    line-height: 1.5;
    letter-spacing: 1.2px;
}



.projectList a,
.contacts a {
    font-family: $secondaryFont;
    font-weight: 700;
    @include fontSize(18);
    color: $tertiary;
}
