h1,
h2,
h3,
h4,
p {
    font-family: $baseFont;
    margin: 0;
    font-weight: 400;
    color: $primary;
}

h2,
h3,
a {
    text-transform: uppercase;
}

h3 {
    margin: 10px 0;
}


h2 {
    @include fontSize(45);
    margin: 30px 0 20px 0;
    font-weight: 700;
    color: $tertiary;
    -webkit-text-stroke: 0.1vw $primary;
    text-shadow: -2px -2px 0px $secondary,
                -4px -4px 0px $quaternary,
                -6px -6px 0px $senary;

                
    @include devices(laptop){
        @include fontSize(50);
    }

    @include devices(desktop){
        @include fontSize(55);
    }
}

h3 {
    font-weight: 700;

    @include devices(laptop) {
        @include fontSize(32)
    }
}

h4 {
    font-family:  $secondaryFont;
    font-weight: 400;
    margin: 0;
    @include fontSize(18);

    @include devices(laptop) {
        @include fontSize(25);
    }
}

a {
    @include fontSize(30);
    text-decoration: none;
    font-weight: 400;
    color: $tertiary;
    font-family: $secondaryFont;
}


p {
    line-height: 1.5;
    letter-spacing: 1.2px;

    @include devices(tablet){
        @include fontSize(23)
    }

    @include devices(laptop){
        @include fontSize(25)
    }

    @include devices (largeDesktop) {
        @include fontSize(26);
    }
}



.projectList a,
.contacts a.emailBtn,
.designList a {
    font-family: $secondaryFont;
    font-weight: 700;
    @include fontSize(20);
    color: $tertiary;
    border: 3px solid $tertiary;
    
    @include devices(tablet) {
        @include fontSize(22);
    }

    @include devices(laptop) {
        @include fontSize(23);
    }

    @include devices(desktop) {
        @include fontSize(25);
    }
}

