h1,
h2,
h3,
h4,
p {
    font-family: $baseFont;
    margin: 0;
    font-weight: 400;
    color: $primary;
}


h2 {
    @include fontSize(30)
}

h4 {
    font-family:  $secondaryFont;
    font-weight: 400;
    margin: 0;
    @include fontSize(18);
}

a {
    @include fontSize(35);
    text-decoration: none;
    color: $primary;
}



.projectList a {
    font-family: $secondaryFont;
    font-weight: 700;
    @include fontSize(18);
    color: $tertiary;
}
